*.class
_build/
*.tar
*.tar.gz
*.tgz
*.zip
*.ipynb_checkpoints
*.DS_Store
._*

# C / C++
*.o

#OpenMP
OpenMP/TP/main

# python
__pycache__/
.pytest_cache/

# LaTeX
*.aux
*.dvi
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.nlo
