<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated TaskMaster -->
      <package
            uri="http://taskmaster"
            class="taskmaster.TaskmasterPackage"
            genModel="TaskMaster.genmodel"/>
   </extension>

</plugin>
